<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Todolist</title>
</head>
<body>
    <div class="container">
        <h1>To do list</h1>
        <form action="/" method="post" autocomplete="off">
        <input type="text" name="todoValue" placeholder="Add what to do..." required>
        <button type="submit">Add</button>
        </form>
        <% if(data){%>
            <% data.forEach(todoValue=>{%>
                <div class="todo-container">
                    <div class="todo-value"> <%= todoValue.todo%></div>
                    <div>
                        <a href="" class="todo-delete  <%= todoValue.id %>">Delete</a>
                    </div>
                    
                </div>
            <%})%>
        <% } %>
    </div>
    <script>
        const delb=document.querySelectorAll(".todo-delete")
        delb.forEach((button,i)=>{
            button.addEventListener("click",()=>{
                const endp=`/${button.classList[1]}`
                fetch(endp,{
                    method:"DELETE"
                })
                window.location.href="/"
            })
        })
    </script>
</body>
</html>