*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(142, 142, 177);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
h1{
    color:rgb(18, 3, 55);
    padding: 3rem;
    font-size:70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
input{
    min-width: 600px;
    height: 37px;
    border-radius: 10px 0 10px 0;
    border: solid 2px rgb(18, 3, 55);
    padding-left: 1rem;
    color: rgb(19, 55, 55);
    font-size: 1rem;
    outline: none;
}
::placeholder{
    color: rgb(18, 3, 55);;
}
button{
    width: 200px;
    height: 35px;
    background: rgb(18, 3, 55);
    border: none;
    font-size: 30px;
    color: aliceblue;
    border-radius: 10px 10px 10px 10px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.todo-value{
    font-size: 20px;
    
    border: solid 2px rgb(18, 3, 55);
    min-width: 605px;
    font-family: sans-serif;
    height: 2rem;
    padding: 5px;
    padding-bottom: 2px;
    margin: 10px;
    margin-right: 215px;
    color: rgb(18, 3, 55);
    background-color: rgb(164, 155, 155);
}
.todo-delete{
    text-decoration: none;
    color: azure;
    padding: 5px;
    margin-left: 572px;
    background-color: rgb(18, 3, 55); ;
    font-family:Georgia, 'Times New Roman', Times, serif
    
    
}